.latlong {
	overflow: auto;
	height: 100%;
}
.latlong label {
	float: left;
	width: 46%;
	margin: 0 1%;
}
.latlong label:first-of-type {
	margin-left: 0;
	width: 48%;
}
.latlong label:last-of-type {
	margin-right: 0;
	width: 49%;
}

#locationbox-meta .is-loading {
	position:relative;
}
#locationbox-meta .loading {
	display: none;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: #000;
	background-color: rgba( 0, 0, 0, 0.4 );
}
#locationbox-meta.is-loading .loading {
	display: block;
}
#locationbox-meta .loading-spinner {
	margin: 0 auto;
	display: block;
	position: relative;
	top: 2em;
}
