.sloc-display {
        .icon-location {
                fill: currentColor;
                padding-left: 2px;
                padding-right: 2px;
                width: 16px;
                height: 16px;
                vertical-align: middle;
                top: -0.0625em;
                color: black
        }
}


