.sloc-display {
    .icon-location {
        fill: currentColor;
        padding-left: 2px;
        padding-right: 2px;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        top: -0.0625em;
        color: black
    }
	.svg-icon {
		fill: currentColor;
		vertical-align: middle;
		top: -0.0625em;
		width: 16px;
		height: 16px;
		color: black;
	}
}

.sloc-map {
	max-width: 100%;
}

