.location-section {
	padding: 6px 10px 8px 2px;
}


#location_side_metabox.is-loading .loading {
        visibility: visible;
}

#location-visibility-label, #location-label, #weather-label, #post-timezone-label {
        font-weight: bold;
}


#locationsidebox {
	.location-ajax {
		background-color: transparent;
		border: none;
		line-height: 1.6;
		padding: 0;
		cursor: pointer;

		&::before {
			color: currentColor;
			transition: color 150ms;
		}

		&:hover::before {
			color: firebrick;
		}
	}
	.sloc-location-icon {
	        vertical-align: middle;
		display: inline-block;
		svg {
			vertical-align: middle;
			width: 1.5rem;
			fill: currentColor;
		}
	}
}

