.location-section {
	padding: 6px 10px 8px 2px;
}


#location_side_metabox.is-loading .loading {
        visibility: visible;
}

#location-visibility-label, #location-label, #weather-label, #post-timezone-label {
        font-weight: bold;
}


#locationsidebox {
	#location-title {
		color: grey;
			&:hover {
			color: red;
		}
	}
	#timezone-browser {
		color: grey;
		&:hover {
			color: red;
		}
	}
}
