.sloc-weather {
	display: block;
}

.sloc-weather-icon {
        vertical-align: middle;
	display: inline-block;
	margin-right: 0.3em;
	position: relative;
	fill: currentColor;
	svg {
		height: 1.5em;
		width: 1.5em;
	}
}

.sloc-weather-display {
	list-style-position: inside;
	list-style: none;
}
