.sloc-weather {
	display: block;
}

.sloc-weather-icon {
        vertical-align: middle;
	display: inline-block;
	svg {
		vertical-align: middle;
		width: 1.5rem;
		fill: currentColor;
	}
}

ul.sloc-weather-display {
	list-style-position: inside;
	list-style: none;
}
